body {
    background-color: deeppink;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 15px;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
header {
    text-align: center;
    border-bottom: 1px solid blue;
}
.usecontent {
  padding: 5px;
  margin: 5px;
}
footer {
  text-align: center;
  border-top: 1px solid lightblue;
  margin-top: 60px;
}
